
<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Grenze+Gotisch:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Grenze+Gotisch:wght@500&family=Pathway+Gothic+One&display=swap');
</style>
@charset "utf-8";
body{
    padding: 30px; 
}

.container {
    display: flex;
    width:65%;
    margin: 40px auto;
    margin-top: -40px;
    text-align: justify;
}
h3{
    font-family: 'Grenze Gotisch', serif;
    font-size: 25px;
    font-weight: bold;
}

.column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    line-height: 1.2;
    font-size: 15px;
    font-family: 'Grenze Gotisch', serif;
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 40px; 
    width: 75%;
    margin-top: 45px;
    margin-bottom: -30px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    transform: scale(1,2);
}
.title2{
    width:100%;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    text-transform: uppercase;
    font-family: 'Grenze Gotisch', serif;
    margin: 40px auto;
    margin-left: 19%;
    text-align: justify;
}
.editorial{
    width: 80px;
    float: left;
    font-size: 20px;
    padding: 5px; 
    border: 2px solid black;
    margin: 20px auto;
    margin-left: 19%;
    font-family: 'Eczar', serif;
    font-family: 'Grenze Gotisch', serif;
}